.toggle-set {
  margin: 20px;
}
.text-box {
  display: none;
  margin-top: 20px;
  width: 100%;

  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.wrapper {
  padding: 20px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

@keyframes shadow-pulse-big {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 70px rgba(0, 0, 0, 0);
  }
}

.example-1 {
  float: left;
  width: 139px;
  height: 32px;

  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: #e07885;
  border-radius: 3px;
  animation: shadow-pulse 3s infinite;
}

#cardano-info {
  width: 100%;
  position: relative;
  height: 35px;
  margin: 5px 0;

  padding: 0;
  white-space: nowrap;
}

#cardano-info-label {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 33.1%;
  text-align: center;
  z-index: 10;

  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0px 10px 0px 10px;

  line-height: 35px;
  background: rgba(229, 229, 229, 0.5);
  overflow: hidden;
}

#ticker-container {
  position: relative;
  margin: 5px 0;

  background: rgba(229, 229, 229, 0.5);

  padding: 0;
  white-space: nowrap;
}

#ticker-label {
  display: inline-block;
  position: relative;
  float: left;

  z-index: 10;

  color: #201b61;

  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  margin-right: 0px;

  text-align: left;
  line-height: 40px;
}

#ticker-content {
  height: 35px;
  color: black;
  float: none;
  padding: 0 10px 0 10px;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  box-sizing: border-box;
}

#ticker-content li {
  position: relative;
  line-height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ticker-content a {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;

  color: black;
  text-decoration: none;
}

#ticker-content a:hover {
  text-decoration: underline;
}

#ticker-link {
  float: right;
  z-index: 10;

  padding: 0px 10px 0px 10px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

#ticker-link a {
  font-family: "Roboto", sans-serif;

  font-size: 13px;
  text-decoration: none;
  color: #201b61;
}

#ticker-link a:hover {
  color: #fbb03b;
}

@media (max-width: 750px) {
  #ticker-label {
    display: none;
  }

  #ticker-content {
    animation-duration: 20s;
  }
}

.overlay {
  position: fixed;
  z-index: 30;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#ticker-important-container {
  position: relative;
  margin: 5px 0;

  background: rgba(227, 231, 0, 0.5);

  padding: 0;
  white-space: nowrap;
}

#ticker-important-content {
  height: 35px;
  color: black;
  float: none;
  padding: 0 10px 0 10px;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  box-sizing: border-box;
}

.popup {
  position: absolute;
  margin: 10px auto;
  margin-top: 100px;
  padding: 20px;
  background: rgba(229, 229, 229, 0.95);
  border-radius: 0px;
  width: 84%;
  min-height: 450px;
  position: relative;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.popup h2 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  float: left;
  max-height: 80%;
  width: 100%;
  padding-left: 10%;
  font-size: 18px;
  color: rgb(41, 41, 41);
  overflow: auto;
}

.popup img {
  float: right;
  max-width: 400px;
  max-height: 1030px;
  width: auto;
  height: auto;
}

.popup-important {
  position: absolute;
  margin: 10px auto;
  margin-top: 200px;
  padding: 20px;
  background: rgba(229, 229, 229, 0.95);
  border-radius: 0px;
  width: 84%;
  height: 600px;
  position: relative;
  overflow: scroll;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.popup-important .content {
  float: left;
  max-height: 80%;
  width: 100%;
  padding-left: 10%;
  font-size: 18px;
  color: rgb(41, 41, 41);
  overflow: auto;
}

.popup-important h2 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup-important .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup-important .content {
  float: left;
  max-height: 80%;
  width: 100%;
  padding-left: 10%;
  font-size: 18px;
  color: rgb(41, 41, 41);
  overflow: auto;
}

.popup-important img {
  float: right;
  max-width: 400px;
  max-height: 1030px;
  width: auto;
  height: auto;
}

@media screen and (max-width: 1600px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }

  .popup .content {
    margin: 10px auto;
    overflow: none !important;
    width: 100%;
  }

  .popup img {
    float: none;
    display: inline-block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 1030px;
  }

  .popup .content-img {
    padding-left: 10%;
    margin: 10px auto;
    display: inline-block;
    width: 100%;
  }

  .bishotImg__container {
    max-width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .about-pools-row {
    width: 100%;
    height: 800px !important;
  }

  .about-pools-specs {
    width: 400px;
  }

  .about-pools-fees {
    width: auto !important;
  }

  .fees-row {
    height: 30px !important;
  }
}

.overlay:target .popup {
  animation: popup 0.7s;
}

.bigshot {
  display: block;
  height: 208px;
  width: 100%;
}

.bishotImg__container {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
  margin: 0 auto;
}

.bishotImg__container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  opacity: 0.8;
}

.about-pools-row {
  width: 100%;
  height: 450px;
}

.about-pools-specs {
  max-width: 60%;
  font-size: 14px;

  float: left;
}

.about-pools-fees {
  padding-left: 5%;
  width: 30%;
  font-size: 18px;
  float: left;
}

.about-subtitle-specs {
  width: 300px;
  height: 120px;
}

.about-subtitle-specs span {
  display: inline;
}

.about-subtitle-fees {
  width: 220px;
  height: 120px;
}

.specs-row {
  display: inline-block;
  height: 30px;
  width: 100%;
}

.specs-label {
  float: left;
  text-align: left;
  width: 130px;
  height: 25px;
  font-style: italic;
  font-size: 14px;
  font-weight: 400;
}
.specs-text {
  display: inline-block;
  text-align: left;
  font-weight: 600;
  width: 450px;
  overflow: hidden;
}

.fees-row {
  display: inline-block;
  height: 90px;
  width: 100%;
}

.fee-label {
  text-align: left;
  float: left;
  width: 160px;

  font-style: italic;
  font-weight: 400;
}

.fees-text {
  float: left;
  text-align: left;
  font-weight: 600;
  width: 80px;
  overflow: hidden;
}

.rel-label {
  float: left;
  width: 180px;
  height: 40px;
  font-style: italic;
  font-weight: 400;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
}
